body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;    
    background: #F5EFE0;
    font-family: 'quicksand', sans-serif;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
    gap: 20px;
    width: 40vh;
    padding: 20px 30px;
}

.login-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 40px;
}

span {
    font-size: 20px;
}

.login-inputs {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 4vh;
    width: 90%
}

.login-inputs input {
    height: 60px;
    width: 90%;
    padding-left: 20px;

    background-color: #F5EFE0;
    outline: none;
    border: 3px solid #D2C8AA;
    border-radius: 100px;

    font-size: 18px;
    color: #2D2F22;
}

.login-container button {
    margin-top: 4vh;
    height: 50px;
    width: 49%;
    align-self: center;

    background-color: #9fb45b;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 20px;

    font-size: 14px;
    font-weight: 200;
    color: #2D2F22;
}

.login-container button:hover {
    background-color: #bbd36d;
}

.login-inputs input.red {
    border: 4px solid #be7d7b;
}

.login-inputs input.green {
    border: 4px solid #9fb45b;
}

/* =======================
    CACTUS
   ======================= */
.pot-edge {
    position: relative;
    background-color: rgb(194, 102, 75);
    width: 200px;
    height: 40px;
    border-radius: 20px;
}

.pot-base {
    position: absolute;
    width: 160px;
    height: 120px;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(248, 146, 115);
    clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 20% 100%);
}

.cactus {
    position: absolute;
    width: 170px;
    height: 170px;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, +37%);
    background-color: #9fb45b;
    border-radius: 100%;
    z-index: -1;

    transition: all ease 1s;
}

.left-eye {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #2D2F22;
    border-radius: 49%;
    top: 40%;
    left: 30%;
    z-index: 2;
}

.right-eye {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #2D2F22;
    border-radius: 49%;
    top: 40%;
    right: 30%;
    z-index: 2;
}

.mouth {
    position: absolute;
    width: 32px;
    height: 22px;
    background-color: #2D2F22;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -40%);
    z-index: 2;
    clip-path: ellipse(50% 100% at 50% 0%);
    transition: all ease 1s;
}

.cactus.move-up {
    transform: translate(-50%, -10%);
}

.cactus.move-down {
    width: 100px;
    height: 100px;
    transform: translate(-50%, 90%);
}

.mouth.move-up {
    transform: translate(-50%, -200%);
}

/* =======================
    FLOWER
   ======================= */
.flower-head {
    position: absolute;
    top: -10px;
    left: 60%;
    width: 30px;
    height: 30px;
    transform: translateX(-30%);
    z-index: 100;
    background-color: rgb(194, 102, 75);
    border-radius: 50%;
    opacity: 0;
    transition: all ease 1s;
    transform: scale(0);
    z-index: 4;
}

.flower-head:nth-child(1) {
    top: 0;
    left: 13%;
} 

.flower-petal {
    position: absolute;
    top: -117%;
    left: 0%;
    width: 37px;
    height: 50px;
    transform: translateX(-50%);
    z-index: 3;
    rotate: 74deg;
    transform-origin: bottom center;
    background-color: #e79ac9;
    border-radius: 0% 90% 0% 90%;
    z-index: 3;
}
.flower-petal:nth-child(2) { rotate: 72deg; }
.flower-petal:nth-child(3) { rotate: 144deg; }
.flower-petal:nth-child(4) { rotate: 216deg; }
.flower-petal:nth-child(5) { rotate: 288deg; }
.flower-petal:nth-child(6) { rotate: 360deg; }

.flower-head.show {
    transform: scale(1);
    opacity: 1;
}
/* =======================
    ANIMATION
   ======================= */
@keyframes burst {
    0%   { transform: translate(-50%, -50%) rotate(var(--angle)) translateY(0px) scale(1); opacity: 1; }
    100% { transform: translate(-50%, -50%) rotate(var(--angle)) translateY(-170px) scale(0); opacity: 0; }
}

.particle {
    position: fixed;
    width: 30px;
    height: 60px;
    background: #9fb45b;
    border-radius: 0% 90% 0% 90%;
    animation: burst 0.6s ease-out forwards;
    z-index: 2;
}